/* Seteos generales: pagina sin margenes---------------------------------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* Config general para que rem sea igual a 10px y misma tipografia en toda la web ------------------------------------------------------------*/
  
  html {
    font-size: 62.5%;
  }

  .bigTitleImage {
    font: $fontTitleBig;
    padding-top: 22rem;
    padding-bottom: 16rem;
    margin-bottom: 0rem;
    text-align: center;
    letter-spacing: 1rem;
    word-spacing: 2rem;
  }

  .subtitlePages {
    font: $fontTitleBigMobile;
    padding: 1rem 16rem 0rem 16rem;
  }

  .overlayProducts {
    text-shadow: 0px 0px 3px white;
  }