@import "typography";
@import "variables";
@import "general";

/* Estilos de header y footer --------------------------------------------------------------------------------------------------------------- */

footer {
  background-color: $white;
  color: $grey;
  padding: 2rem 0.5% 2rem 0.5%;
}

.flexHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5vh 0.5vw;
  position: fixed;
  background-color: $white;
  z-index: 4;
}

.logo {
  flex: 1;
  height: 71px;
  width: 62px;
  object-fit: cover;
}

header {
  ul {
    list-style: none;
    font-size: 0;
  }
    /* truco por el uso de inline-block ---------------------------------------------------------------------------------------- */
  

  a {
    font: $fontForm;
    color: $grey;
    text-align: right;
    text-decoration: none;
  }

  li {
    color: $secondGrey;
    padding: 2rem;
    display: inline-block;
    position: relative;
  }

  ul {
    ul {
      position: absolute;
      display: none;

      li {
        display: block;
        text-align: left;
        padding: 0.5rem 0rem 0.1rem 0.5rem;
      }
    }

    li:hover ul {
      display: block;
      font-size: 1rem;
      color: $secondGrey;
      background-color: $white;
      border-radius: 10px;
      width: 116px;
    }
  }
}

.hoverMenu li a:hover {
  color: $orange;
}

.fontFooter {
  font: $fontFooter;
  color: $grey;
  margin-left: 0px;
  margin-right: 0px;
}

.fontIcons {
  font: $fontIcons;
  color: $grey;
  margin-left: 0px;
  margin-right: 0px;
}

.rightSide {
  text-align: right;
}

.centerSide {
  text-align: center;
}

/* Presentacion Index ------------------------------------------------------------------------------------------------------------------------*/

.big {
  font: $fontTitleIndex ;
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-transform: uppercase;
}

.indexPresentation {
  background-image: url("../images/fondoIndex.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 1.5rem;
  word-spacing: 3rem;
  color: $textColor;
  margin-top: 87px;
}

.overlayText {
  text-shadow: 0px 0px 5px $white;
}

/* Estilo de secciones */

.section404 {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: center;
}

.sectionGrey {
  color: $textColor;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.sectionGreyProducts, .sectionGreyProductsTitle {
  color: $textColor;
  padding: 2% 8% 2% 8%;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.sectionGreyProductsTitle h1 {
  font: $fontTitleBig;
  text-align: center;
  margin-top: 87px;
}

.sectionGrey {
  h1 {
    font: $fontTitleBig;
    text-align: center;
    margin-top: 87px;
  }

  h2 {
    font: $fontTitleBigMobile;
    padding-bottom: 2%;
  }

  p {
    font:$fontForm;
  }
}

.sectionGreyProducts p, .sectionGrey label {
  font: $fontForm;
}

.mapaIndex {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%;
  border: 0px;
}

.flexSection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6vh 2vw;
}

.flexSectionColumn {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 2vw;
}

.flexSectionItem {
  flex: 1;
}

.boxOne {
  width: 49%;
  display: inline-block;
}

.boxBody {
  position: relative;
}

/* Estilo de Lanzamientos -------------------------------------------------------------------------------------------------------------------*/

.bigRelease {
  font: $fontTitleBig;
  padding: 3rem 2rem 0rem 0rem;
  margin-top: 87px;
}

.containerLaunch {
  display: grid;
  grid-template-areas: "titlePresentation titlePresentation" "subtitlePresentation subtitlePresentation" "cardOne cardTwo"  ". .";
  grid-template-rows: 0.8fr 0.1fr 1fr 0.08fr;
  grid-template-columns: 49% 49%;
  grid-row-gap: 1%;
  grid-column-gap: 2%;
  width: 100%;
  margin: 0;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.presentationLanzamientos {
  grid-area: titlePresentation;
  background-image: url("../images/lanzamientosTop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $textColor;
}

.presentationLanzamientosSub {
  grid-area: subtitlePresentation;
}

.paragraphLanzamientos {
  font: $fontParagraph;
  padding: 1rem 3.5rem 2rem 3.5rem;
}

.subtituleProducts {
  font:$fontTitleImagesMobile;
  padding-bottom: 2%;
}

.paragraphProducts {
  font:$fontParagraph;
}

.h2Products {
  font: $fontProducts;
}

.titlePhotoProducts {
  font: $titlePhotoProducts;
}

.subtitlePhotoProducts {
  font: $fontParagraph;
}

@each $number in One,Two {
  .card#{$number} {
    grid-area: card#{$number};
    justify-self: center;
    display: flex;
    justify-content: center;
   }
}

.sizeImageLaunch {
  width: 90%;
}

/* Estilo de Productos -----------------------------------------------------------------------------------------------------------------------*/

.containerProducts {
  display: grid;
  grid-template-areas: "titleProducts titleProducts" "subtitleProducts subtitleProducts" "titleA30 titleHerrero" "photoA30 photoHerrero" ". ." "titleRotonda titleModena" "photoRotonda photoModena" ". .";
  grid-template-rows: 0.8fr 0.4fr 0.1fr 1fr 0.1fr 0.1fr 1fr 0.05fr;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: 0;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.presentationProducts {
  grid-area: titleProducts;
  background-image: url("../images/productsTop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $textColor;
}

.presentationProductsSub {
  grid-area: subtitleProducts;
  align-self:center;
}

@each $line in A30, Herrero, Rotonda, Modena {
  .title#{$line} {
    grid-area: title#{$line};
    align-self: flex-end;
   }
  .photo#{$line} {
    grid-area: photo#{$line};
    padding: 0rem 2vw 0rem 2vw;
  }
}

/* Estilo de distribuidores ----------------------------------------------------------------------------------------------------------------*/

.distributorsFirst {
  background-image: url("../images/distributors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: $textColor;
}

.flexSectionDistri {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3vh 2vw;
}


/* Tabla de distribuidores ------------------------------------------------------------------------------------------------------------------*/

.containerTable {
  display: grid;
  grid-template-areas: "titulo1 titulo2 titulo3" "a1 a2 a3" "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.9fr 0.9fr 1.2fr;
  width: 60%;
  height: 62vh;
  margin: 0;
  background-color: $white;
  border: solid $orange 1px;
}

.itemTable {
  border: solid $orange 1px;
  justify-items: center;
  align-items: center;
  padding: 1px 0px 1px 0px;
  display: grid;
  font: $tableFont;
}

@for $i from 1 through 3 {
  .titulo#{$i} { grid-area: titulo#{$i}; }
}

@each $letter in a, b, c, d {
  .#{$letter}1 {
    grid-area: #{$letter}1;
   }
  .#{$letter}2 {
    grid-area: #{$letter}2;
  }
  .#{$letter}3 {
    grid-area: #{$letter}3;
    justify-content: left;
    padding-left: 1rem;
  }
  .#{$letter}4 {
    grid-area: #{$letter}4;
  }
}

.titlesDistri {
  color: $textColor;
  font: $fontParagraph;
  padding: 0.3rem;
}

@each $contact in Phone, Map, Mail {
  .li#{$contact} {
    list-style-image: url(../images/icon#{$contact}.png);
    margin-left: 2rem;
    font: $tableFont;
   }
}

a {
  color: $textColor;
  text-decoration: none;
}

/* Estilos contacto ---------------------------------------------------------------------------------------------------------------------*/

.contactPresentation {
  background-image: url("../images/contactUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $textColor;
}

.liContact {
  margin-top: 2%;
  margin-left: 20%;
  font: $fontForm;
  text-decoration: none;
}

.flexSectItemForm {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0rem 1rem;
}

.flexSectItemButton {
  justify-content: center;
}

.itemMarginLeft {
  margin-left: 5rem;
}

input {
  &[type=text], &[type=tel], &[type=email] {
    padding: 1rem;
    border: 2px solid $orange;
    border-radius: 10px;
    font: $tableFont;
  }

  &[type=button], &[type=submit], &[type=reset] {
    background-color: $orange;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    margin: 4px 10px;
    cursor: pointer;
    font: $tableFont;
  }
}

.labelForm {
  display: flex;
  align-items: center;
}

.hoverBtn:hover {
  color: $textColor;
}

/*MOBILE VIEW ----------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 599px) {
  .flexHeader {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5vh 0.5vw;
    z-index: 4;
  }

  header {
    li {
      font: $fontTableItemMobile;
      color: $grey;
      padding: 0.5rem 0.5rem 0rem 1rem;
      display: inline-block;
      position: relative;
    }

    a {
      font: $fontSubtitlePageMobile;
      color: $grey;
      text-align: right;
      text-decoration: none;
    }
  }

  .big {
    font: $fontTitleBigIndexMobile;
    padding: 10rem 0rem 10rem 0rem;
  }

  .sectionGrey {
    h2 {
      font: $fontSubtitleMobile;
      color: $textColor;
    }

    p {
      font: $fontTableItemMobile;
    }
  }

  .sectionGreyProducts p {
    font: $fontParagraphMobile;
    color: $white;
  }
  .sectionGrey label {
    font: $fontParagraphMobile;
    color: $textColor;
  }

  .indexPresentation {
    background-image: url("../images/fondoIndex.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    letter-spacing: 0rem;
    word-spacing: 1rem;
    color: $textColor;
    margin-top: 87px;
  }

  .mapaIndex {
    display: none;
  }

  .fontFooter {
    font: $fontFooterMobile;
  }

  .sectionGrey {
    background-color: $grey;
    color: $white;
  }

  .bigTitleImage {
    font: $fontTitleImagesMobile;
    padding: 19rem 0rem 11rem 0rem;
    margin-bottom: 0rem;
    letter-spacing: 0rem;
    word-spacing: 0.5rem;    
  }

// MOBILE VIEW LANZAMIENTOS  ----------------------------------------------------------

  .paragraphLanzamientos {
    font: $fontSubtitlePageMobile;
    padding: 1rem 3.5rem 0rem 3.5rem;
    margin-bottom: 0rem;
  }
  .bigRelease {
    font: $fontTitleBigMobile;
    padding: 3rem 2rem 0rem 0rem;
    margin-top: 87px;
  }

  .containerLaunch {
    display: grid;
    grid-template-areas: "titlePresentation" "subtitlePresentation" "." "cardOne" "." "cardTwo";
    grid-template-rows: 0.6fr 0.2fr 0.03fr 0.5fr 0.03fr 0.5fr;
    grid-template-columns: 100%;
    grid-row-gap: 0.5rem;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }

  .presentationLanzamientos {
    grid-area: titlePresentation;
    background-image: url("../images/lanzamientosTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $textColor;

  }
  
  .presentationLanzamientosSub {
    grid-area: subtitlePresentation;
    padding-top: 2vh;
  }

  @each $number in One,Two {
    .card#{$number} {
      grid-area: card#{$number};
      justify-self: center;
      display: flex;
      justify-content: center;
     }
  }

  .subtitlePages {
    font: $fontSubtitleMobile;
    padding: 0rem 2rem 0rem 2rem;
  }

  .paragraphProducts {
    font: $fontParagraphMobile;
    text-align: center;
  }

  .subtituleProducts {
    font:$fontSubtitleMobile;
    padding-bottom: 0%;
    text-align: center;
  }

// MOBILE VIEW Productos  ----------------------------------------------------------

  .containerProducts {
    display: grid;
    grid-template-areas: "titleProducts" 
                          "subtitleProducts"
                          "titleA30" 
                          "photoA30" 
                          "titleHerrero" 
                          "photoHerrero"
                          "titleRotonda" 
                          "photoRotonda"
                          "titleModena" 
                          "photoModena";
    
    grid-template-rows: 1fr 0.4fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr;
    grid-template-columns: 100%;
    grid-column-gap: 1%;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }

  .presentationProducts {
    grid-area: titleProducts;
    background-image: url("../images/productsTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $textColor;
  }
  
  .presentationProductsSub {
    grid-area: subtitleProducts;
    align-self:center;
    padding-top: 2vh;
  }
  
  @each $line in A30, Herrero, Rotonda, Modena {
    .title#{$line} {
      grid-area: title#{$line};
      padding-top: 3vh;
    }
    .photo#{$line} {
      grid-area: photo#{$line};
      padding: 0rem 4vw 0rem 4vw;
    }
  }

  .sectionGrey h1, .sectionGreyProductsTitle h1, .h2Products  {
    font: $fontTitleBigMobile;
  }
  

  .titlePhotoProducts {
    font: $fontSubtitleMobile;
  }
  
  .subtitlePhotoProducts {
    font:$fontParagraphMobile;
  }

// MOBILE VIEW DISTRIBUIDORES  ----------------------------------------------------------

  .containerTable {
    display: grid;
    grid-template-areas: "titulo1 titulo2 titulo3" "a1 a2 a3" "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr 1.8fr;
    width: 99%;
    height: 70vh;
    margin: 0;
    background-color: $white;
    border: solid $orange 1px;
  }

  .itemTable {
    border: solid $orange 1px;
    justify-items: flex-start;
    align-items: center;
    padding: 1px 0px 1px 0.6rem;
    display: grid;
    font: $fontParagraphMobile;
    color: $textColor;
  }

  .titlesDistri {
    color: $textColor;
    font: $fontParagraphMobile;
    padding: 0.2rem;
  }

  @for $i from 1 through 3 {
    .titulo#{$i} { grid-area: titulo#{$i}; }
  }
  
  @each $letter in a, b, c, d {
    .#{$letter}1 {
      grid-area: #{$letter}1;
    }
    .#{$letter}2 {
      grid-area: #{$letter}2;
    }
    .#{$letter}3 {
      grid-area: #{$letter}3;
    }
    .#{$letter}4 {
      grid-area: #{$letter}4;
    }
  }
  
  @each $contact in Phone, Map, Mail {
    .li#{$contact} {
      margin-left: 0px;
      font: $fontTableLiMobile;
      color: $textColor;
     }
  }

// MOBILE VIEW CONTACTENOS  ----------------------------------------------------------

  .mapaIndexMobile {
    position: relative;
    text-align: right;
    height: 50%;
    width: 100%;
    border: 0px;
    display: flex;
  }

  .flexSection {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vh 2vw;
  }

  .flexSectionItem {
    flex: 1;
    padding: 0rem 2rem 0rem 2rem;
  }
  .boxOne {
    width: 100%;
    display: inline-block;
  }
  .itemMarginLeft {
    margin-left: 1rem;
  }

  input {
    &[type=text], &[type=tel], &[type=email] {
      padding: 1rem 0rem 1rem 1rem;
      font: $fontTableItemMobile;
    }
  }

}

/* VISTA TABLET ----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .flexHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5vh 0.5vw;
    z-index: 4;
  }

  .fontFooter {
    font: $tableFont;
  }

// TABLET VIEW LANZAMIENTOS  ----------------------------------------------------------
  .containerLaunch {
    display: grid;
    grid-template-areas: "titlePresentation" "subtitlePresentation" "." "cardOne" "." "cardTwo";
    grid-template-rows: 0.6fr 0.2fr 0.03fr 0.5fr 0.03fr 0.5fr;
    grid-template-columns: 100%;
    grid-row-gap: 0.5rem;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }

  .presentationLanzamientos {
    grid-area: titlePresentation;
    background-image: url("../images/lanzamientosTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $textColor;

  }

  .presentationLanzamientosSub {
    grid-area: subtitlePresentation;
    padding-top: 2vh;
  }

  @each $number in One,Two {
    .card#{$number} {
      grid-area: card#{$number};
      justify-self: center;
      display: flex;
      justify-content: center;
    }
  }


  .alignRight {
    text-align: right;
    padding-left: 12rem;
  }

// TABLET VIEW PRODUCTOS  ----------------------------------------------------------

  .containerProducts {
    display: grid;
    grid-template-areas: "titleProducts" 
                          "subtitleProducts"
                          "titleA30" 
                          "photoA30" 
                          "titleHerrero" 
                          "photoHerrero"
                          "titleRotonda" 
                          "photoRotonda"
                          "titleModena" 
                          "photoModena"
                          " . ";
    
    grid-template-rows: 1fr 0.4fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr;
    grid-template-columns: 100%;
    grid-column-gap: 1%;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }

  .presentationProducts {
    grid-area: titleProducts;
    background-image: url("../images/productsTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $textColor;
  }
  
  .presentationProductsSub {
    grid-area: subtitleProducts;
    align-self:center;
    padding-top: 2vh;
  }
  
  @each $line in A30, Herrero, Rotonda, Modena {
    .title#{$line} {
      grid-area: title#{$line};
      padding-top: 3vh;
    }
    .photo#{$line} {
      grid-area: photo#{$line};
      padding: 0rem 4vw 0rem 4vw;
    }
  }

  .subtitlePages {
    padding: 0rem 10rem 0rem 10rem;
  }

// TABLET VIEW DISTRIBUIDORES  ----------------------------------------------------------

  .containerTable {
    display: grid;
    grid-template-areas: "titulo1 titulo2 titulo3" "a1 a2 a3" "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr 1.4fr;
    width: 70%;
    height: 70vh;
    margin: 0;
    background-color: $white;
    border: solid $orange 1px;
  }

  .itemTable {
    border: solid $orange 1px;
    justify-items: flex-start;
    align-items: center;
    padding: 1px 0px 1px 1rem;
    display: grid;
    font: $fontParagraphMobile;
    color: $textColor;
  }

  .titlesDistri {
    color: $textColor;
    font: $fontParagraphMobile;
    padding: 0.3rem;
  }

  @for $i from 1 through 3 {
    .titulo#{$i} { grid-area: titulo#{$i}; }
  }

  @each $letter in a, b, c, d {
    .#{$letter}1 {
      grid-area: #{$letter}1;
    }
    .#{$letter}2 {
      grid-area: #{$letter}2;
    }
    .#{$letter}3 {
      grid-area: #{$letter}3;
    }
    .#{$letter}4 {
      grid-area: #{$letter}4;
    }
  }

  @each $contact in Phone, Map, Mail {
    .li#{$contact} {
      margin-left: 2rem;
      text-align: left;
      font: $fontTableItemMobile;
      color: $textColor;
    }
  }

// TABLET VIEW CONTACTENOS  ----------------------------------------------------------
  .flexSectionItem {
    flex: 1;
    padding: 0rem 2rem 0rem 2rem;
    text-align: center;
  }
  
}

/* Bootstrap Customization ----------------------------------------------------------------------------------------------------------------*/

a:hover {
  color: $orange;
}

.hoverMenu:hover {
  color: $orange;
}

.hamburguerAlign {
  align-items: flex-end;
}

.selectionPage {
  color: $orange;
  font-weight: 900;
}

.bg-orange {
  background-color: $orange;
}

.c-violeta {
  color: #8011f2;
}

.c-blanco {
  color: $white;
}

.pIndex {
  font: $fontForm;
}

.h2Index {
  font: $fontTitleBigIndexMobile;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}