@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
/* Seteos generales: pagina sin margenes---------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Config general para que rem sea igual a 10px y misma tipografia en toda la web ------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

.bigTitleImage {
  font: 900 5rem "Merriweather", serif;
  padding-top: 22rem;
  padding-bottom: 16rem;
  margin-bottom: 0rem;
  text-align: center;
  letter-spacing: 1rem;
  word-spacing: 2rem;
}

.subtitlePages {
  font: 900 2rem "Merriweather", serif;
  padding: 1rem 16rem 0rem 16rem;
}

.overlayProducts {
  text-shadow: 0px 0px 3px white;
}

/* Estilos de header y footer --------------------------------------------------------------------------------------------------------------- */
footer {
  background-color: #fffcf2;
  color: #949090;
  padding: 0.5%;
}

.flexHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0.5vh 0.5vw;
  position: fixed;
  background-color: #fffcf2;
  z-index: 4;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 71px;
  width: 62px;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  /* truco por el uso de inline-block ---------------------------------------------------------------------------------------- */
}

header ul {
  list-style: none;
  font-size: 0;
}

header a {
  font: 400 1.5rem "Merriweather", serif;
  color: #949090;
  text-align: right;
  text-decoration: none;
}

header li {
  color: #ccc5b9;
  padding: 2rem;
  display: inline-block;
  position: relative;
}

header ul ul {
  position: absolute;
  display: none;
}

header ul ul li {
  display: block;
  text-align: left;
  padding: 0.5rem 0rem 0.1rem 0.5rem;
}

header ul li:hover ul {
  display: block;
  font-size: 1rem;
  color: #ccc5b9;
  background-color: #fffcf2;
  border-radius: 10px;
  width: 116px;
}

.hoverMenu li a:hover {
  color: #eb5e28;
}

.fontFooter {
  font: 400 1.5rem "Merriweather", serif;
  color: #949090;
  margin-left: 0px;
  margin-right: 0px;
}

.fontIcons {
  font: 400 2.5rem "Merriweather", serif;
  color: #949090;
  margin-left: 0px;
  margin-right: 0px;
}

.rightSide {
  text-align: right;
}

.centerSide {
  text-align: center;
}

/* Presentacion Index ------------------------------------------------------------------------------------------------------------------------*/
.big {
  font: 600 6.5rem "Nunito", sans-serif;
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-transform: uppercase;
}

.indexPresentation {
  background-image: url("../images/fondoIndex.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 1.5rem;
  word-spacing: 3rem;
  color: black;
  margin-top: 87px;
}

.overlayText {
  text-shadow: 0px 0px 5px #fffcf2;
}

/* Estilo de secciones */
.section404 {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
}

.sectionGrey {
  color: black;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.sectionGreyProducts, .sectionGreyProductsTitle {
  color: black;
  padding: 2% 8% 2% 8%;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.sectionGreyProductsTitle h1 {
  font: 900 5rem "Merriweather", serif;
  text-align: center;
  margin-top: 87px;
}

.sectionGrey h1 {
  font: 900 5rem "Merriweather", serif;
  text-align: center;
  margin-top: 87px;
}

.sectionGrey h2 {
  font: 900 2rem "Merriweather", serif;
  padding-bottom: 2%;
}

.sectionGrey p {
  font: 400 1.5rem "Merriweather", serif;
}

.sectionGreyProducts p, .sectionGrey label {
  font: 400 1.5rem "Merriweather", serif;
}

.mapaIndex {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%;
  border: 0px;
}

.flexSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 6vh 2vw;
}

.flexSectionColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3vh 2vw;
}

.flexSectionItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.boxOne {
  width: 49%;
  display: inline-block;
}

.boxBody {
  position: relative;
}

/* Estilo de Lanzamientos -------------------------------------------------------------------------------------------------------------------*/
.bigRelease {
  font: 900 5rem "Merriweather", serif;
  padding: 3rem 2rem 0rem 0rem;
  margin-top: 87px;
}

.containerLaunch {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titlePresentation titlePresentation" "subtitlePresentation subtitlePresentation" "cardOne cardTwo"  ". .";
  -ms-grid-rows: 1fr 0.1fr 1fr 0.01fr;
      grid-template-rows: 1fr 0.1fr 1fr 0.01fr;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  grid-row-gap: 1%;
  grid-column-gap: 2%;
  width: 100%;
  margin: 0;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.presentationLanzamientos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titlePresentation;
  background-image: url("../images/lanzamientosTop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.presentationLanzamientosSub {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subtitlePresentation;
}

.paragraphLanzamientos {
  font: 400 2rem "Merriweather", serif;
  padding: 1rem 3.5rem 2rem 3.5rem;
}

.subtituleProducts {
  font: 900 2.5rem "Merriweather", serif;
  padding-bottom: 2%;
}

.paragraphProducts {
  font: 400 2rem "Merriweather", serif;
}

.h2Products {
  font: 400 2.5rem "Merriweather", serif;
}

.titlePhotoProducts {
  font: 900 2.5rem "Merriweather", serif;
}

.subtitlePhotoProducts {
  font: 400 2rem "Merriweather", serif;
}

.cardOne {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cardOne;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardTwo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cardTwo;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sizeImageLaunch {
  width: 90%;
}

/* Estilo de Productos -----------------------------------------------------------------------------------------------------------------------*/
.containerProducts {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titleProducts titleProducts" "subtitleProducts subtitleProducts" "titleA30 titleHerrero" "photoA30 photoHerrero" ". ." "titleRotonda titleModena" "photoRotonda photoModena" ". .";
  -ms-grid-rows: 1fr 0.4fr 0.1fr 1fr 0.1fr 0.1fr 1fr 0.05fr;
      grid-template-rows: 1fr 0.4fr 0.1fr 1fr 0.1fr 0.1fr 1fr 0.05fr;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
  margin: 0;
  background-image: url("../images/backgroundSite.jpg");
  background-repeat: repeat;
}

.presentationProducts {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titleProducts;
  background-image: url("../images/productsTop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.presentationProductsSub {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subtitleProducts;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.titleA30 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: titleA30;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.photoA30 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: photoA30;
  padding: 0rem 2vw 0rem 2vw;
}

.titleHerrero {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: titleHerrero;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.photoHerrero {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: photoHerrero;
  padding: 0rem 2vw 0rem 2vw;
}

.titleRotonda {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: titleRotonda;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.photoRotonda {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: photoRotonda;
  padding: 0rem 2vw 0rem 2vw;
}

.titleModena {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: titleModena;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.photoModena {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: photoModena;
  padding: 0rem 2vw 0rem 2vw;
}

/* Estilo de distribuidores ----------------------------------------------------------------------------------------------------------------*/
.distributorsFirst {
  background-image: url("../images/distributors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.flexSectionDistri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 3vh 2vw;
}

/* Tabla de distribuidores ------------------------------------------------------------------------------------------------------------------*/
.containerTable {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo1 titulo2 titulo3" "a1 a2 a3" "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 0.9fr 0.9fr 1.2fr;
      grid-template-columns: 0.9fr 0.9fr 1.2fr;
  width: 60%;
  height: 62vh;
  margin: 0;
  background-color: #fffcf2;
  border: solid #eb5e28 1px;
}

.itemTable {
  border: solid #eb5e28 1px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 0px 1px 0px;
  display: -ms-grid;
  display: grid;
  font: 400 1.3rem "Merriweather", serif;
}

.titulo1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo1;
}

.titulo2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: titulo2;
}

.titulo3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: titulo3;
}

.a1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a1;
}

.a2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a2;
}

.a3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: a3;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 1rem;
}

.a4 {
  grid-area: a4;
}

.b1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: b1;
}

.b2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: b2;
}

.b3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: b3;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 1rem;
}

.b4 {
  grid-area: b4;
}

.c1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: c1;
}

.c2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: c2;
}

.c3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: c3;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 1rem;
}

.c4 {
  grid-area: c4;
}

.d1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: d1;
}

.d2 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: d2;
}

.d3 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: d3;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 1rem;
}

.d4 {
  grid-area: d4;
}

.titlesDistri {
  color: black;
  font: 400 2rem "Merriweather", serif;
  padding: 0.3rem;
}

.liPhone {
  list-style-image: url(../images/iconPhone.png);
  margin-left: 2rem;
  font: 400 1.3rem "Merriweather", serif;
}

.liMap {
  list-style-image: url(../images/iconMap.png);
  margin-left: 2rem;
  font: 400 1.3rem "Merriweather", serif;
}

.liMail {
  list-style-image: url(../images/iconMail.png);
  margin-left: 2rem;
  font: 400 1.3rem "Merriweather", serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Estilos contacto ---------------------------------------------------------------------------------------------------------------------*/
.contactPresentation {
  background-image: url("../images/contactUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.liContact {
  margin-top: 2%;
  margin-left: 20%;
  font: 400 1.5rem "Merriweather", serif;
  text-decoration: none;
}

.flexSectItemForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.flexSectItemButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemMarginLeft {
  margin-left: 5rem;
}

input[type=text], input[type=tel], input[type=email] {
  padding: 5px;
  border: 2px solid #eb5e28;
  border-radius: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #eb5e28;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  margin: 4px 10px;
  cursor: pointer;
  font: 400 1.3rem "Merriweather", serif;
}

.hoverBtn:hover {
  color: black;
}

/*MOBILE VIEW ----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 599px) {
  .flexHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0.5vh 0.5vw;
    z-index: 4;
  }
  header li {
    font: 400 1.1rem "Merriweather", serif;
    color: #949090;
    padding: 0.5rem 0.5rem 0rem 1rem;
    display: inline-block;
    position: relative;
  }
  header a {
    font: 400 1.5rem "Merriweather", serif;
    color: #949090;
    text-align: right;
    text-decoration: none;
  }
  .big {
    font: 900 3rem "Merriweather", serif;
    padding: 10rem 0rem 10rem 0rem;
  }
  .sectionGrey h2 {
    font: 900 1.5rem "Merriweather", serif;
    color: black;
  }
  .sectionGrey p {
    font: 400 1.1rem "Merriweather", serif;
  }
  .sectionGreyProducts p {
    font: 400 1.2rem "Merriweather", serif;
    color: #fffcf2;
  }
  .sectionGrey label {
    font: 400 1.2rem "Merriweather", serif;
    color: black;
  }
  .indexPresentation {
    background-image: url("../images/fondoIndex.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    letter-spacing: 1rem;
    word-spacing: 2rem;
    color: black;
    margin-top: 87px;
  }
  .mapaIndex {
    display: none;
  }
  .fontFooter {
    font: 400 1.2rem "Merriweather", serif;
  }
  .sectionGrey {
    background-color: #949090;
    color: #fffcf2;
  }
  .bigTitleImage {
    font: 900 2.5rem "Merriweather", serif;
    padding: 19rem 0rem 11rem 0rem;
    margin-bottom: 0rem;
  }
  .paragraphLanzamientos {
    font: 400 1.5rem "Merriweather", serif;
    padding: 1rem 3.5rem 0rem 3.5rem;
    margin-bottom: 0rem;
  }
  .bigRelease {
    font: 900 2rem "Merriweather", serif;
    padding: 3rem 2rem 0rem 0rem;
    margin-top: 87px;
  }
  .containerLaunch {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titlePresentation" "subtitlePresentation" "." "cardOne" "." "cardTwo";
    -ms-grid-rows: 0.6fr 0.2fr 0.03fr 0.5fr 0.03fr 0.5fr;
        grid-template-rows: 0.6fr 0.2fr 0.03fr 0.5fr 0.03fr 0.5fr;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-row-gap: 0.5rem;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }
  .presentationLanzamientos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titlePresentation;
    background-image: url("../images/lanzamientosTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
  }
  .presentationLanzamientosSub {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subtitlePresentation;
    padding-top: 2vh;
  }
  .cardOne {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: cardOne;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cardTwo {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: cardTwo;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subtitlePages {
    font: 900 1.5rem "Merriweather", serif;
    padding: 0rem 2rem 0rem 2rem;
  }
  .paragraphProducts {
    font: 400 1.2rem "Merriweather", serif;
    text-align: center;
  }
  .subtituleProducts {
    font: 900 1.5rem "Merriweather", serif;
    padding-bottom: 0%;
    text-align: center;
  }
  .containerProducts {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titleProducts"  "subtitleProducts" "titleA30"  "photoA30"  "titleHerrero"  "photoHerrero" "titleRotonda"  "photoRotonda" "titleModena"  "photoModena";
    -ms-grid-rows: 1fr 0.4fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr;
        grid-template-rows: 1fr 0.4fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 1%;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }
  .presentationProducts {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titleProducts;
    background-image: url("../images/productsTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
  }
  .presentationProductsSub {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subtitleProducts;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 2vh;
  }
  .titleA30 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: titleA30;
    padding-top: 3vh;
  }
  .photoA30 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: photoA30;
    padding: 0rem 4vw 0rem 4vw;
  }
  .titleHerrero {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: titleHerrero;
    padding-top: 3vh;
  }
  .photoHerrero {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: photoHerrero;
    padding: 0rem 4vw 0rem 4vw;
  }
  .titleRotonda {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: titleRotonda;
    padding-top: 3vh;
  }
  .photoRotonda {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: photoRotonda;
    padding: 0rem 4vw 0rem 4vw;
  }
  .titleModena {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: titleModena;
    padding-top: 3vh;
  }
  .photoModena {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: photoModena;
    padding: 0rem 4vw 0rem 4vw;
  }
  .sectionGrey h1, .sectionGreyProductsTitle h1, .h2Products {
    font: 900 2rem "Merriweather", serif;
  }
  .titlePhotoProducts {
    font: 900 1.5rem "Merriweather", serif;
  }
  .subtitlePhotoProducts {
    font: 400 1.2rem "Merriweather", serif;
  }
  .containerTable {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo1 titulo2 titulo3" "a1 a2 a3" "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: 1fr 1fr 1.8fr;
        grid-template-columns: 1fr 1fr 1.8fr;
    width: 99%;
    height: 70vh;
    margin: 0;
    background-color: #fffcf2;
    border: solid #eb5e28 1px;
  }
  .itemTable {
    border: solid #eb5e28 1px;
    justify-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1px 0px 1px 0.6rem;
    display: -ms-grid;
    display: grid;
    font: 400 1.2rem "Merriweather", serif;
    color: black;
  }
  .titlesDistri {
    color: black;
    font: 400 1.2rem "Merriweather", serif;
    padding: 0.2rem;
  }
  .titulo1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titulo1;
  }
  .titulo2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: titulo2;
  }
  .titulo3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: titulo3;
  }
  .a1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: a1;
  }
  .a2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: a2;
  }
  .a3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: a3;
  }
  .a4 {
    grid-area: a4;
  }
  .b1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: b1;
  }
  .b2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: b2;
  }
  .b3 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: b3;
  }
  .b4 {
    grid-area: b4;
  }
  .c1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: c1;
  }
  .c2 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: c2;
  }
  .c3 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: c3;
  }
  .c4 {
    grid-area: c4;
  }
  .d1 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: d1;
  }
  .d2 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: d2;
  }
  .d3 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: d3;
  }
  .d4 {
    grid-area: d4;
  }
  .liPhone {
    margin-left: 0px;
    font: 400 1rem "Merriweather", serif;
    color: black;
  }
  .liMap {
    margin-left: 0px;
    font: 400 1rem "Merriweather", serif;
    color: black;
  }
  .liMail {
    margin-left: 0px;
    font: 400 1rem "Merriweather", serif;
    color: black;
  }
  .mapaIndexMobile {
    position: relative;
    text-align: right;
    height: 50%;
    width: 100%;
    border: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flexSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 2vh 2vw;
  }
  .flexSectionItem {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0rem 2rem 0rem 2rem;
  }
  .boxOne {
    width: 100%;
    display: inline-block;
  }
}

/* VISTA TABLET ----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .flexHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0.5vh 0.5vw;
    z-index: 4;
  }
  .fontFooter {
    font: 400 1.3rem "Merriweather", serif;
  }
  .containerLaunch {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titlePresentation" "subtitlePresentation" "." "cardOne" "." "cardTwo";
    -ms-grid-rows: 0.6fr 0.2fr 0.03fr 0.5fr 0.03fr 0.5fr;
        grid-template-rows: 0.6fr 0.2fr 0.03fr 0.5fr 0.03fr 0.5fr;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-row-gap: 0.5rem;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }
  .presentationLanzamientos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titlePresentation;
    background-image: url("../images/lanzamientosTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
  }
  .presentationLanzamientosSub {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subtitlePresentation;
    padding-top: 2vh;
  }
  .cardOne {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: cardOne;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cardTwo {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: cardTwo;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .alignRight {
    text-align: right;
    padding-left: 12rem;
  }
  .containerProducts {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titleProducts"  "subtitleProducts" "titleA30"  "photoA30"  "titleHerrero"  "photoHerrero" "titleRotonda"  "photoRotonda" "titleModena"  "photoModena" " . ";
    -ms-grid-rows: 1fr 0.4fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr;
        grid-template-rows: 1fr 0.4fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr 0.1fr;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 1%;
    width: 100%;
    margin: 0;
    background-image: url("../images/backgroundSite.jpg");
    background-repeat: repeat;
  }
  .presentationProducts {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titleProducts;
    background-image: url("../images/productsTop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
  }
  .presentationProductsSub {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subtitleProducts;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 2vh;
  }
  .titleA30 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: titleA30;
    padding-top: 3vh;
  }
  .photoA30 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: photoA30;
    padding: 0rem 4vw 0rem 4vw;
  }
  .titleHerrero {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: titleHerrero;
    padding-top: 3vh;
  }
  .photoHerrero {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: photoHerrero;
    padding: 0rem 4vw 0rem 4vw;
  }
  .titleRotonda {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: titleRotonda;
    padding-top: 3vh;
  }
  .photoRotonda {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: photoRotonda;
    padding: 0rem 4vw 0rem 4vw;
  }
  .titleModena {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: titleModena;
    padding-top: 3vh;
  }
  .photoModena {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: photoModena;
    padding: 0rem 4vw 0rem 4vw;
  }
  .subtitlePages {
    padding: 0rem 10rem 0rem 10rem;
  }
  .containerTable {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo1 titulo2 titulo3" "a1 a2 a3" "b1 b2 b3" "c1 c2 c3" "d1 d2 d3";
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: 1fr 1fr 1.4fr;
        grid-template-columns: 1fr 1fr 1.4fr;
    width: 70%;
    height: 70vh;
    margin: 0;
    background-color: #fffcf2;
    border: solid #eb5e28 1px;
  }
  .itemTable {
    border: solid #eb5e28 1px;
    justify-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1px 0px 1px 1rem;
    display: -ms-grid;
    display: grid;
    font: 400 1.2rem "Merriweather", serif;
    color: black;
  }
  .titlesDistri {
    color: black;
    font: 400 1.2rem "Merriweather", serif;
    padding: 0.3rem;
  }
  .titulo1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titulo1;
  }
  .titulo2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: titulo2;
  }
  .titulo3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: titulo3;
  }
  .a1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: a1;
  }
  .a2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: a2;
  }
  .a3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: a3;
  }
  .a4 {
    grid-area: a4;
  }
  .b1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: b1;
  }
  .b2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: b2;
  }
  .b3 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: b3;
  }
  .b4 {
    grid-area: b4;
  }
  .c1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: c1;
  }
  .c2 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: c2;
  }
  .c3 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: c3;
  }
  .c4 {
    grid-area: c4;
  }
  .d1 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: d1;
  }
  .d2 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: d2;
  }
  .d3 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: d3;
  }
  .d4 {
    grid-area: d4;
  }
  .liPhone {
    margin-left: 2rem;
    text-align: left;
    font: 400 1.1rem "Merriweather", serif;
    color: black;
  }
  .liMap {
    margin-left: 2rem;
    text-align: left;
    font: 400 1.1rem "Merriweather", serif;
    color: black;
  }
  .liMail {
    margin-left: 2rem;
    text-align: left;
    font: 400 1.1rem "Merriweather", serif;
    color: black;
  }
  .flexSectionItem {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0rem 2rem 0rem 2rem;
    text-align: center;
  }
}

/* Bootstrap Customization ----------------------------------------------------------------------------------------------------------------*/
a:hover {
  color: #eb5e28;
}

.hoverMenu:hover {
  color: #eb5e28;
}

.hamburguerAlign {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.selectionPage {
  color: #eb5e28;
  font-weight: 900;
}

.bg-orange {
  background-color: #eb5e28;
}

.c-violeta {
  color: #8011f2;
}

.c-blanco {
  color: #fffcf2;
}

.pIndex {
  font: 400 1.5rem "Merriweather", serif;
}

.h2Index {
  font: 900 2.5rem "Merriweather", serif;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */